* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}


/* navbar */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    padding: 0 !important;
    background-color: #00BCD4;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 15px;
    margin-top: 10px;
}

.navbar-nav li a {
    color: rgb(248, 250, 250) !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}


/* top */

#banner {
    background-color: #00BCD4;
    padding-top: 100px;
    padding-bottom: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    margin-right: 50px;
}

.maintext h1 {
    font-weight: bold;
    font-size: 60px;
    color: #212121;
}

.maintext p {
    font-weight: 400;
    padding-top: 20px;
    color: #FFFFFF;
}

.mainimage {
    animation: mover 1s infinite alternate;
}


/* services */

#services {
    margin-top: 100px;
}

.our h1 {
    padding-bottom: 40px;
    font-weight: 800;
    font-size: 50px;
    color: #212121;
}

.services img {
    width: 100px;
    height: 100px;
    margin-bottom: 20PX;
}

.services {
    padding: 20px 15px;
    animation: left-in 1s ease-in forwards;
    animation-delay: 0s;
}

.services h4 {
    font-weight: 800;
}

.btn-service {
    margin: 10px 0;
    background-color: #00BCD4;
    border: none;
}

.btn-service:hover {
    background-color: #3742fa;
}


/* rated */

#rated {
    margin-top: 100px;
    background-color: #00BCD4;
}

#rated h1 {
    font-weight: 800;
    font-size: 60px;
    color: #212121;
}

.rated h2 {
    margin: 40px 0px;
    font-weight: 800;
    color: #f8f4f4;
}

.diff {
    margin-top: 60px;
}

.diff ul li {
    padding: 20px;
    list-style-type: square;
    font-size: 15px;
    color: rgb(8, 7, 7);
    font-weight: 600;
}

.choose img {
    width: 600px;
    height: 600px;
    margin-top: -5px;
    animation: movers 1s infinite alternate;
}

.rated {
    padding-top: 60px;
}

.choose {
    margin-top: -30px;
}


/* OUR TEAM */

.team {
    margin: 90px 0;
    animation: fade-in 3s ease-in forwards;
}

.team h1 {
    text-align: center;
    font-weight: 800;
    font-size: 55px;
    letter-spacing: 2px;
    color: #212121;
    padding-bottom: 10px;
}

.team h1:after {
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 330px;
    margin: 10px auto;
}

.profile {
    margin-top: 25px;
}

.profile .img-box {
    opacity: 1;
    display: block;
    position: relative;
}

.profile h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    color: #757575;
}

.profile h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.profile p {
    font-weight: 600;
    font-size: 15px;
    color: rgb(128, 112, 112);
}

.img-box:after {
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-responsive {
    width: 230px;
    height: 250px;
}

.img-box ul {
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.img-box ul li {
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}

.img-box a {
    color: #fff;
}

.img-box:hover:after {
    opacity: 1;
}

.img-box:hover ul {
    opacity: 1;
}

.img-box a:hover li {
    color: #007bff;
    border: 1px solid #007bff;
}

.img-box:after,
.img-box ul,
.img-box ul li {
    transition: all 0.5s ease-in-out 0s;
}


/* INTOUCH */

#intouch {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
}

.touch {
    padding-top: 30px;
}

.touch h1 {
    font-weight: 600;
    font-size: 40px;
}

.touch h1:after {
    content: '';
    background: rgb(233, 217, 217);
    display: block;
    height: 3px;
    width: 350px;
    margin: 10px auto;
    color: #212121;
}

.touch .row {
    margin-top: 50px;
    margin-right: 0px;
}


/* Copy right */

.copy {
    background-color: #00BCD4;
    margin-right: 0px;
    color: rgb(53, 47, 47);
    padding-top: 10px;
}

.copy span {
    padding-left: 70px;
}


/* animations */

@keyframes mover {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

@keyframes movers {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-20px);
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Media Queries */

@media screen and (max-width: 600px) {
    .choose img {
        width: 400px;
        height: 500px;
        padding-right: 110px;
        padding-top: -10px;
    }
    #banner {
        padding-top: 0px;
    }
    .cont {
        padding-top: 20px;
    }
    @keyframes movers {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(-20px);
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
    .top .mainimage {
        width: 350px;
        height: 350px;
    }
    .choose img {
        width: 380px;
        height: 500px;
        margin-top: 30px;
    }
    .touch .cont {
        padding-left: 70px;
    }
}